body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  background-image: url('/img/river.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}