html, body {
height: 100%;
margin: 0;
}
.full-height {
height: 100%;
background: lightcoral;
}

body {
  font-family: Arial, sans-serif;

  padding: 0;
}

footer {
  display: flex;
  justify-content: center; /* centré horizontalement */
  align-items: center;     /* centré verticalement */
  padding: 1rem;

}

header, footer {
  color: black;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

main {
  padding: 2rem;
}

#accordion-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px 0;
}

#accordion-menu a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
    /* background: content-box; */
    background-clip: content-box;
}
 
.pdf-container {
  margin-top: 20px;
}


  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Pour s’adapter sur petits écrans */
    gap: 1rem;
    padding: 10px;

  }

  .header-bar img {
    height: 50px;
    border-radius: 5px;
  }

  .header-title a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }

  .main-nav, #accordion-menu {
    display: flex;
    gap: 1rem;
  }

  #accordion-toggle {
    font-size: 1.2rem;
    background: none;
    
    border: none;
    cursor: pointer;
  }

  #accordion-menu {
    display: none;
    
    margin-top: 0.5rem;
  }

 
  #low {
    display: flex;
  
    flex-direction: column;
    margin-top: 0.5rem;
  }
  

  #accordion-menu.show {
    display: flex;
  }


.section.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
}

.section.contact input,
.section.contact textarea {
  padding: 8px;
  font-size: 1rem;
}

.section.contact button {
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

#comment {
  display: flex;
 
  align-items: center;
  gap: 20px; /* espace entre image et texte */
}

#comment img {
  width: 25%;
  max-width: 200px;
  height: auto;
  }

  #comment .text {
    flex: 1;
     background-color: aliceblue;
  }